<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Fabricantes de productos para solucionar problemas de contaminación en las áreas con ambientes controlados">
    <meta name="keywords"
        content="Estática, Sintética, Oberol, Antiestática, Pijama, Escafandra, Filipina, Bata, Zapatón, Zapato">
    <title>ESENSA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="https://kit.fontawesome.com/a077a0470e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="shortcut icon" href="assets/images/faviconE.jpeg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Enriqueta&display=swap" rel="stylesheet">
    <script>
        function submitEmailForm(form) {
            var obj = new XMLHttpRequest();
            obj.onreadystatechange = function () {
                if (obj.readyState == 4) {
                    if (obj.status == 200) {
                        var res = JSON.parse(obj.responseText);
                        alert(res.message);
                    }
                    else {
                        console.log("XMLHttp status " + obj.status + ": " + obj.statusText);
                    }
                }
            };
            obj.open("post", form.action, true);
            obj.setRequestHeader("Content-Type", "application/json"); // NOTICE: "application/json"
            obj.send(JSON.stringify({ name: form.name.value, country: form.country.value, email: form.email.value, number: form.tel.value, checkbox: form.checkBox.value }));
            alert("¡En breve te contactaremos!");
            $(".formInput").val(" ");
            return false;
        }
    </script>
</head>

<body class="font1 fontEsensa1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/nosotros">Nosotros <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/productos">Productos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/servicios">Servicios <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contacto">Contacto <span class="sr-only">(current)</span></a>
                </li>
                {{!-- <li class="nav-item active">
                    <a class="nav-link" href="/influencermarketing">Influencer Marketing <span
                            class="sr-only">(current)</span></a>
                </li> --}}

            </ul>

        </div>
    </nav>
    <div class="bodyPrincipal">
        {{{body}}}
    </div>
    <div class="footer footerEsensa">
        <div class="container">

            <footer id="footer" class="site-footer">
                <div id="footer-inner" class="site-footer-inner container">
                    <div class="row">
                        <div class="col-md-6 right-footer">
                            <a href="/">
                                <h5 class="siteMapItem font2">Inicio</h5>
                            </a>
                            <hr>
                            <a href="/nosotros">
                                <h5 class="siteMapItem font2">Nosotros</h5>
                            </a>
                            <hr>
                            <a href="/productos">
                                <h5 class="siteMapItem font2">Productos</h5>
                            </a>
                            <hr>
                            <a href="/servicios">
                                <h5 class="siteMapItem font2">Servicios</h5>
                            </a>
                            <hr>
                            <a href="/contacto">
                                <h5 class="siteMapItem font2">Contacto</h5>
                            </a>
                            <hr>

                        </div>
                        <div class="col-md-6" style="display: flex; flex-wrap: wrap">
                            <div class="align-logo-footer" style="display: inline-block">
                                <a href="/">
                                    <img src="assets/images/logoFinal.png" style="width: 207px; height: auto" alt=""
                                        class="imgLogoFooter">
                                </a>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </footer>
        </div>

    </div>
    <div class="footerfoot">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <a href="https://web.facebook.com/baali.academy" target="_blank">
                        <span class="icon">
                            <i class="fa fa-facebook fa-footer"></i>
                        </span>
                    </a>
                    <a href="https://www.instagram.com/baali.academy/?hl=es" target="_blank">
                        <span class="icon">
                            <i class="fa fa-instagram fa-footer"></i>
                        </span>
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=+525553375092" target="_blank">
                        <span class="icon">
                            <i class="fab fa-whatsapp fa-footer"></i>
                        </span>
                    </a>

                    <p><b>ESENSA®</b> Todos los derechos reservados. Sus datos están protegidos
                        por
                        la ley de privacidad. <span><a href="/privacidad" style="color: wheat;">Visita nuestra
                                política de privacidad</a></span></p>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

    <script src="/assets/js/script.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>