<div class="perfexDiv">
    <div class="limpiandoBanner">
        <div class="overlay">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h1 class="esensaTitleLimpiandoBanner">
                            ESENSA® es marca líder.
                        </h1>
                        <a href="/contacto">
                            <button type="button" class="btn btn-primary">Contactar</button></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <h1>Productos BERKSHIRE®</h1>
    </div>
    <div class="container">
        <div class="row rowLimpieza">
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/berkshire1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Super polx® 1200 Cleanroom wiper <br><span
                                class="text-secondary">Composición y atributos</span> <br> <br>
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Tamaño</th>
                                        <th scope="col">Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>9´´ x 9´´</td>
                                        <td>Paq. c/150pz</td>
                                    </tr>
                                    <tr>
                                        <td>12´´ x 12´´</td>
                                        <td>Paq. c/75pz</td>
                                    </tr>
                                </tbody>
                            </table>
                        </h5>
                        <p class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Filamento de 100% Poliéster.</li>
                            <li class="list-group-item">Lavado y empacado en cuarto limpio de ISO clase 4/clase 10</li>
                            <li class="list-group-item">Diseñado para una baja emisión de iones y resistencia química.
                            </li>
                            <li class="list-group-item">Absorbe tres veces su peso.</li>
                            <li class="list-group-item">Buen rendimiento con alcohol isopropílico, acetona y otros
                                solventes. </li>
                            <li class="list-group-item">Disponible en mayor número de trapos (más económico).</li>
                        </ul>
                        </p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/berkshire2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Polx® 1200 Cleanroom wiper <br><span class="text-secondary">Composición y
                                atributos</span>
                            <br> <br>
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Tamaño</th>
                                        <th scope="col">Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>9´´ x 9´´</td>
                                        <td>Paq. c/150pz</td>
                                    </tr>
                                    <tr>
                                        <td>12´´ x 12´´</td>
                                        <td>Paq. c/75pz</td>
                                    </tr>
                                </tbody>
                            </table>
                        </h5>
                        <p class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">100% Poliéster tejido.</li>
                            <li class="list-group-item">Resistente a rasgaduras.</li>
                            <li class="list-group-item">No deja residuos.</li>
                            <li class="list-group-item">Buen rendimiento con alcohol isopropílico (IPA) y otros
                                solventes.</li>
                        </ul>
                        </p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/berkshire3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Easy Clean 360 Isolator <br><span class="text-secondary">Composición y
                                atributos</span></h5>
                        <p class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Eficiente en la limpieza de aisladores, cabinas de seguridad
                                biológica, campanas de flujo laminar y otros miniambientes. Incluye el maneral y
                                cabezal.</li>
                            <li class="list-group-item">Las fundas de poliéster son lavables</li>
                        </ul>
                        </p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row rowLimpieza">
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/berkshire4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Microseal VP®<br><span class="text-secondary">Composición y
                                atributos</span></h5>
                        <p class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">100% poliéster tejido, bajo en partículas, fibras, iones, y
                                extractables.</li>
                            <li class="list-group-item">Alta resistencia a la abrasión, compatible con IPA, acetona y
                                otros solventes, bordes sellados por ultrasonido, lavado para Clase ISO 4</li>
                        </ul>
                        </p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/berkshire7.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Microseal SuperSorb Cleanroom wiper<br><span
                                class="text-secondary">Composición y
                                atributos</span> <br><br>
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Tamaño</th>
                                        <th scope="col">Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>9´´ x 9´´</td>
                                        <td>Paq. c/100pz</td>
                                    </tr>
                                    <tr>
                                        <td>12´´ x 12´´</td>
                                        <td>Paq. c/100pz</td>
                                    </tr>
                                    <tr>
                                        <td>18´´ x 18´´</td>
                                        <td>Paq. c/25pz</td>
                                    </tr>
                                </tbody>
                            </table>
                        </h5>
                        <p class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Doble tejudo 100% poliéster, lavado y empacado en cuarto limpio.
                            </li>
                            <li class="list-group-item">Unido ultrasónico, alta absorbencia, resistente a lo abrasivo.
                            </li>
                            <li class="list-group-item">Puede ser usado en clases ISO 4/10 grado A y B.</li>
                            <li class="list-group-item">Buen rendimiento con alcohol isopropílico (IPA) y otros
                                solventes.</li>
                        </ul>
                        </p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/berkshire6.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Papel y cuadernos para CR<br><span class="text-secondary">Composición y
                                atributos</span></h5>
                        <p class="card-text">El papel y los cuadernos pueden ser la mayor fuente de partículas y fibras
                            en el área limpia; los productos de BERKSHIRE'S BOND y sistemas de documentación son hechos
                            con papel de la más alta calidad para minimizar tal contaminación.</p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row rowLimpieza">
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/berkshire8.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Microseal SuperSorb Lite®<br><span class="text-secondary">Composición y
                                atributos</span></h5>
                        <p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Es un paño 100% poliéster tejido, fabricado con doble capa de
                                telas y sellado por ultrasonido.
                            </li>
                            <li class="list-group-item">Muy limpio y puede ser usado en clases ISO 4/10 grado A y B.
                            </li>
                            <li class="list-group-item">Posee una alta absorbencia</li>
                            <li class="list-group-item">Recomendado para áreas de limpieza crítica.</li>
                        </ul>
                        </p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/berkshire10.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">SatPax® 1000 Presaturated wiper<br><span
                                class="text-secondary">Composición y
                                atributos</span></h5>
                        <hr>
                        <p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Constituida de poliéster/celulosa no tejida.
                            </li>
                            <li class="list-group-item">Saturado con grado de semiconductor de alcohol (IPA)
                                isopropílico y agua desionizada (DIH<span style="font-size: 10pt;">2</span>O).
                            </li>
                            <li class="list-group-item">Disponible en bolsas re-sellable.</li>
                            <li class="list-group-item">Trapos doblados en "C" para tomarlos individualmente.</li>
                            <li class="list-group-item">Disponible en dispensadores de rodillos (solicite cotización) 3
                                presentaciones de soluciones saturadas IPA/DIH<span style="font-size: 10pt;">2</span>O;
                                70/30, 9/91 y 6/94 (6/94 en frasco solamente).
                            </li>
                        </ul>
                        </p>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/berkshire9.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">SatPax® 550<br><span class="text-secondary">Composición y
                                atributos</span></h5>
                        <hr>
                        <p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Paño presaturado de polipropileno, predoblado, bajo en iones,
                                extractables y fibras.
                            </li>
                            <li class="list-group-item">Económico.
                            </li>
                            <li class="list-group-item">Uso en áreas clase ISO 5.</li>
                        </ul>
                        </p>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>