<div class="contecDiv">
    <div class="limpiandoBanner">
        <div class="overlay">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h1 class="esensaTitleLimpiandoBanner">
                            ESENSA® es marca líder.
                        </h1>
                        <a href="/contacto">
                            <button type="button" class="btn btn-primary">Contactar</button></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <h1>Productos CONTEC®</h1>
    </div>
    <div class="container">
        <div class="row rowLimpieza">
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/contec3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">VK MOP 7" Regular</h5>
                        <p class="card-text">Con soporte de cabezal de acero inoxidable 2651A. Se presenta con mango
                            2645.</p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/contec4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">MVK MOP 12" Mediano</h5>
                        <p class="card-text">Con soporte de cabezal de acero inoxidable 2652A. Se presenta con mango
                            2643.</p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/contec5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">LVK MOP 14" Grande</h5>
                        <p class="card-text">Con soporte de cabezal de acero inoxidable 2653A. Se presenta con mango
                            2725.</p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row rowLimpieza">
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/contec1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Edgeless MOP (EL - MOP)</h5>
                        <p class="card-text">Trapeadores sin bordes. Fabricados con el tubo de tela tradicional.</p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/contec2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Trapeadores EL MOP3</h5>
                        <p class="card-text">Trapeador sin bordes con textura. Fabricados con hebras retorcidas que son más absorbentes</p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>

    </div>
</div>