<div class="inicioDiv">
    <div class="bannerInicio">
        <div>
            <div>
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <img src="/assets/images/logoFinal.png" alt="" class="logoBannerInicio">
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container contactoDiv">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group contactoDiv">
                    <li class="list-group-item list-group-item-success">Oficina Central México</li>
                    <li class="list-group-item list-group-item"><i class="fas fa-map-marker-alt"><span
                                class="fontEsensa1"> Dirección: <br><br> Av. México No. 8, Col. México Nuevo C.P. 52966.
                                Atizapán de Zaragoza. Edo. de México</span></i></li>
                    <li class="list-group-item list-group-item"><i class="fas fa-phone-square-alt"><span
                                class="fontEsensa1"> Llamar: <br><br> <a class="contactFooterItems" style="color: grey;"
                                    href="tel:+525558165878"> +52 55 58 16 58 78</a></span></i></li>
                    <li class="list-group-item list-group-item"><i class="fas fa-envelope-square"><span
                                class="fontEsensa1"> Correo electrónico: <br><br>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a
                                            href="mailto:ventas@esensa.com.mx">ventas@esensa.com.mx</a></li>
                                    <li class="list-group-item"><a
                                            href="mailto:v.huerta@esensa.com.mx">v.huerta@esensa.com.mx</a></li>
                                    <li class="list-group-item"><a
                                            href="mailto:h.hernandez@esensa.com.mx">h.hernandez@esensa.com.mx</a></li>
                                    <li class="list-group-item"><a
                                            href="mailto:claudia.huerta@esensa.com.mx">claudia.huerta@esensa.com.mx</a>
                                    </li>
                                </ul>
                            </span></i></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group itemContacto">
                    <li class="list-group-item list-group-item-success">Sucursal Guadalajara</li>
                    <li class="list-group-item list-group-item"><i class="fas fa-map-marker-alt"><span
                                class="fontEsensa1"> Dirección: <br><br> Guadalajara, Jalisco</span></i></li>
                    <li class="list-group-item list-group-item"><i class="fas fa-phone-square-alt"><span
                                class="fontEsensa1"> Llamar: <br><br> <a class="contactFooterItems" style="color: grey;"
                                    href="tel:+523336202074"> +52 33 36 20 20 74</a> <br> <br> <a class="contactFooterItems" style="color: grey;"
                                    href="tel:+523336202085"> +52 33 36 20 20 85</a></span></i></li>
                    <li class="list-group-item list-group-item"><i class="fas fa-envelope-square"><span
                                class="fontEsensa1"> Correo electrónico: <br><br>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a
                                            href="mailto:esensagd@prodigy.net.mx">esensagd@prodigy.net.mx</a></li>
                                    <li class="list-group-item"><a
                                            href="mailto:e.gonzalez@esensa.com.mx">e.gonzalez@esensa.com.mx</a></li>
                                </ul>
                            </span></i></li>
                </ul>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group itemContacto">
                    <li class="list-group-item list-group-item-success">Sucursal Tijuana</li>
                    <li class="list-group-item list-group-item"><i class="fas fa-map-marker-alt"><span
                                class="fontEsensa1"> Dirección: <br><br> Tijuana, Baja California</span></i></li>
                    <li class="list-group-item list-group-item"><i class="fas fa-phone-square-alt"><span
                                class="fontEsensa1"> Llamar: <br><br>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a class="contactFooterItems" style="color: grey;" href="tel:+526643317882"> +52 66 43 31 78 82</a>
                                    </li>
                                </ul>

                            </span></i></li>
                    <li class="list-group-item list-group-item"><i class="fas fa-envelope-square"><span
                                class="fontEsensa1"> Correo electrónico: <br><br>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a
                                            href="mailto:esensabc@prodigy.net.mx">esensabc@prodigy.net.mx</a></li>
                                    <li class="list-group-item"><a
                                            href="mailto:a.ramirez@esensa.com.mx">a.ramirez@esensa.com.mx</a></li>
                                </ul>
                            </span></i></li>
                </ul>
            </div>
            <div class="col-md-6">
            </div>
        </div>

    </div>
</div>