<div class="artDesechablesDiv">
    <div class="limpiandoBanner">
        <div class="overlay">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h1 class="esensaTitleLimpiandoBanner">
                            ESENSA® es marca líder.
                        </h1>
                        <a href="/contacto">
                            <button type="button" class="btn btn-primary">Contactar</button></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <h1>CUBREZAPATOS ESENSA®</h1>
    </div>
    <br>
    <br>
    <div class="container desechablesItem">
        <div class="row">
            <div class="col-md-6">
               <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active carouselItemOveroles">
                            <img class="d-block w-50 carouselItemOverolesImg" src="/assets/images/cofias2.jpg"
                                alt="First slide">
                        </div>
                        <div class="carousel-item ">
                            <img class="d-block w-50 carouselItemOverolesImg" src="/assets/images/cofias1.jpg"
                                alt="Second slide">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h1>Cofias y batas.</h1>
                <p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Fabricadas con polipropileno de 35 g, este material es un termoplástico
                        de elevada rigidez; elevado punto de fusión, y excelente resistencia química.</li>
                    <li class="list-group-item">Cofias redondas de 21” y 24”.</li>
                    <li class="list-group-item">Cofias venecianas. </li>
                </ul>
                </p>
                <hr>
                <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>
                <br>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="container desechablesItem">
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active carouselItemOveroles">
                            <img class="d-block w-50 carouselItemOverolesImg" src="/assets/images/descubierta2.jpg"
                                alt="First slide">
                        </div>
                        <div class="carousel-item ">
                            <img class="d-block w-50 carouselItemOverolesImg" src="/assets/images/descubierta1.jpg"
                                alt="Second slide">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h1>Escafandra de cara abierta.</h1>
                <p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Fabricadas con polipropileno de 35g.</li>
                    <li class="list-group-item">Este material es un termoplástico de elevada rigidez.</li>
                    <li class="list-group-item">Elevado punto de fusión y excelente resistencia químicas.</li>
                </ul>
                </p>
                <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>
                <br>
                <br>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="container desechablesItem">
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active carouselItemOveroles">
                            <img class="d-block w-50 carouselItemOverolesImg" src="/assets/images/desezapa2.jpg"
                                alt="First slide">
                        </div>
                        <div class="carousel-item ">
                            <img class="d-block w-50 carouselItemOverolesImg" src="/assets/images/desezapa1.jpg"
                                alt="Second slide">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h1>Cubrezapatos.</h1>
                <p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">100% polipropileno.</li>
                    <li class="list-group-item">Se ajustan perfectamente, debido al elástico con el que cuentan.</li>
                    <li class="list-group-item">Tamaño estándar y extragrande.</li>
                    <li class="list-group-item">	Opción de suela normal, antiderrapante o PVC.</li>
                </ul>
                </p>
                <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>
                <br>
                <br>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="container desechablesItem">
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active carouselItemOveroles">
                            <img class="d-block w-50 carouselItemOverolesImg" src="/assets/images/uniformedese2.jpg"
                                alt="First slide">
                        </div>
                        <div class="carousel-item ">
                            <img class="d-block w-50 carouselItemOverolesImg" src="/assets/images/uniformedese1.jpg"
                                alt="Second slide">
                        </div>
                        <div class="carousel-item ">
                            <img class="d-block w-50 carouselItemOverolesImg" src="/assets/images/uniformedese3.jpg"
                                alt="Third slide">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h1>Uniformes de polietileno.</h1>
                <p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Polietileno de alta densidad..</li>
                    <li class="list-group-item">Lavado en cuarto limpio clase ISO 5, y esterilizado por radiación Gamma.</li>
                    <li class="list-group-item">Baja emisión de partículas para su perfecto uso en áreas controladas.</li>
                </ul>
                </p>
                <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>
                <br>
                <br>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>