<div class="perfexDiv">
    <div class="limpiandoBanner">
        <div class="overlay">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h1 class="esensaTitleLimpiandoBanner">
                            ESENSA® es marca líder.
                        </h1>
                        <a href="/contacto">
                            <button type="button" class="btn btn-primary">Contactar</button></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <h1>GUANTES DE LÁTEX Y NITRILO</h1>
    </div>
    <div class="container">
        <div class="row rowLimpieza">
            <div class="col-md-6">
                <img src="/assets/images/guantes1.jpg" class="img-fluid" alt="Responsive image">
                <hr>
                <a href="/contacto">
                    <button type="button" class="btn btn-lg btn-success">Contactar</button></a>
            </div>
            <div class="col-md-6">
                <h3>Para cuartos limpios de los diferentes giros: electrónico, farmacéutico,
                    biotecnología, así como, en compañías de alta tecnología.</h3>
                <hr>
                <h4 class="text-secondary">Libres de polvos y talco, ambidiestros y mano específica; bajo contenido de
                    proteína y sustancias irritantes, sello redondo en su terminación, resistentes y durables.
                    Diferentes tamaños, estériles en bolsa de polietileno o papel. </h4>
                <br>
                <p>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Material</th>
                            <th scope="col">Características</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Látex</td>
                            <td>Buena sensación y alta elásticidad. <br>Resistencia a los ácidos, álcalis y cetonas.
                            </td>
                        </tr>
                        <tr>
                            <td>Nitrilo</td>
                            <td>Buena sensación y media elásticidad. <br>Resistente a los solventes.</td>
                        </tr>
                    </tbody>
                </table>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">Usos: Procedimientos de laboratorio, sala de
                        limpieza, multiuso especial
                        para áreas asépticas, fabricación de inyectables. Recomendado para áreas electrónicas.</li>
                </ul>
                </p>
            </div>
        </div>
    </div> <br><br>
    <div class="container">
        <div class="row">

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Material</th>
                        <th scope="col">Resistencia</th>
                        <th scope="col">Suavidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Látex</td>
                        <td>Buena</td>
                        <td>Muy buena</td>
                    </tr>
                    <tr>
                        <td>Nitrilo</td>
                        <td>Buena</td>
                        <td>Buena</td>
                    </tr>
                </tbody>
            </table> <br> <br>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Material</th>
                        <th scope="col">Elasticidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Látex</td>
                        <td>Muy buena</td>
                    </tr>
                    <tr>
                        <td>Nitrilo</td>
                        <td>Buena</td>
                    </tr>
                </tbody>
            </table> <br> <br>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Material</th>
                        <th scope="col">Resistencia a la ruptura</th>
                        <th scope="col">Costo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Látex</td>
                        <td>Buena</td>
                        <td>Medio</td>
                    </tr>
                    <tr>
                        <td>Nitrilo</td>
                        <td>Muy buena</td>
                        <td>Medio</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div> <br> <br>
    <div class="container">
        <a href="/contacto"><button type="button" class="btn btn-info btn-lg btn-block">Me gustaría una cotización</button></a>
    </div>
</div>