<div class="inicioDiv">
    <div class="bannerInicio">
        <div class="overlay">
            <div>
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <img src="/assets/images/logoFinal.png" alt="" class="logoBannerInicio">
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="propuestValorDiv text-center">
        <div class="jumbotron jumbotron-fluid fontEsensa1 jumboTronEsensaInicio">
            <h1 class="display-4">Fabricamos productos innovadores y de calidad</h1>
            <p class="lead">Para controlar la contaminación en áreas limpias, asépticas, ESD.</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-success btn-lg" href="/contacto" role="button">Contacto</a>
            </p>
        </div>
    </div>
</div>