<div class="perfexDiv">
    <div class="limpiandoBanner">
        <div class="overlay">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h1 class="esensaTitleLimpiandoBanner">
                            ESENSA® es marca líder.
                        </h1>
                        <a href="/contacto">
                            <button type="button" class="btn btn-primary">Contactar</button></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <h1>EQUIPOS PARA MONITOREO DE AIRE</h1>
    </div>
    <div class="container">
        <div class="row rowLimpieza">
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/conteo4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Muestreador microbiológico de aire Microflow Alfa.
                        </h5>
                        <p class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Portátil.</li>
                            <li class="list-group-item">Carcasa de poliuretano de alta resistencia a los impactos.</li>
                            <li class="list-group-item">Utiliza cajas Petri de 60 mm, o de 90 mm.</li>
                            <li class="list-group-item">Velocidades de muestreo entre: 30-60-90-100-120 L/min,
                                con un volumen de muestra de 1 hasta 2000 litros de aire.
                            </li>
                            <li class="list-group-item">Modo de muestreo: manual, secuencial o programable.</li>
                            <li class="list-group-item">Display en 5 idiomas: español, inglés, alemán, francés e
                                italiano.</li>
                            <li class="list-group-item">Batería recargable de 4 hrs. de uso.</li>
                            <li class="list-group-item">Control remoto.</li>
                            <li class="list-group-item">Pesa 1.9 kg.</li>
                            <li class="list-group-item">Puerto USB (opcional).</li>
                            <li class="list-group-item">Tripié que alcanza un máximo de 3.84 m de altura (opcional).
                                .</li>
                        </ul>
                        </p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/rcs.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Muestreador microbiológico de aire RCS® <br><span
                                class="text-secondary">High Flow Touch y accesorios.</span>
                            <br> <br>
                        </h5>
                        <p class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">El RCS® High Flow Touch, es un muestreador de aire portátil para
                                monitorear de forma fácil y rápida el aire y los gases comprimidos en ambientes
                                controlados.</li>
                            <li class="list-group-item">Totalmente compatible con nuestras tiras de agar.</li>
                            <li class="list-group-item">Proporciona un sistema completo que cumple con la norma ISO
                                14698-1/2.</li>
                            <li class="list-group-item">El instrumento se opera con una pantalla táctil, a color, de
                                alta resolución; un software intuitivo y un innovador concepto de batería.</li>
                            <li class="list-group-item">Cabezal de muestreo autoclavable, para una fácil desinfección.
                            </li>
                            <li class="list-group-item">Tiene 7 volúmenes de muestreo preestablecidos y 3 volúmenes
                                definidos por el usuario de 1 a 2,000 litros a una velocidad de 100 L/min.</li>
                            <li class="list-group-item">
                                Dispositivo portátil
                            </li>
                            <li class="list-group-item">
                                Opciones de muestreo definidas por el usuario, incluidos volúmenes ajustables, retardo
                                de tiempo y muestreo por intervalos.
                            </li>
                        </ul>
                        </p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/monitoreoAmbiental.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Adaptador con boquillas para mediciones de gas comprimido (rango de
                            presión: 0,1-7 bar)
                        </h5>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
        </div> <br> <br>
        <div class="row text-center">
            <div class="container">
                <h4>También ofrecemos el servicio de calibración de los siguientes equipos:
                </h4>
                <p class="card-text">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item active">EQUIPOS MILLIPORE:</li>
                    <li class="list-group-item">RCS High Flow*</li>
                    <li class="list-group-item">RCS High Flow Touch <br> <span class="text-secondary">
                            Equipo descontinuado, pero aún se puede calibrar.
                        </span></li>
                    <li class="list-group-item active">AWEL / AES Chemunex</li>
                    <li class="list-group-item">Sampl’Air Lite.</li>
                    <li class="list-group-item">BC 100.</li>
                    <li class="list-group-item text-secondary">Nuestros instrumentos patrón tienen trazabilidad al CENAM y NIST</li>
                </ul>
                </p>
            </div>
        </div>
    

    </div>
</div>