<div class="perfexDiv">
    <div class="limpiandoBanner">
        <div class="overlay">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h1 class="esensaTitleLimpiandoBanner">
                            ESENSA® es marca líder.
                        </h1>
                        <a href="/contacto">
                            <button type="button" class="btn btn-primary">Contactar</button></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <h1>MONITOREO AMBIENTAL ESENSA®</h1>
    </div>
    <div class="container">
        <div class="row rowLimpieza">
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/monitoreoA1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">RCS <br><span class="text-secondary">Tiras para muestreadores de
                                aire.</span> <br> <br>
                        </h5>
                        <p class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Placas con medio de cultivo para equipos muestreadores
                                centrífugos de aire.
                                Esterilización final por radiación Gamma.
                            </li>
                        </ul>
                        </p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/monitoreoA2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">MXC <br><span class="text-secondary">Muestreadores por contacto.</span>
                            <br> <br>
                        </h5>
                        <p class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Placas flexibles con medio de cultivo para monitorear
                                superficies.</li>
                            <li class="list-group-item">Superficie de 25 cm2.</li>
                            <li class="list-group-item">Esterilización final por radiación Gamma.</li>
                        </ul>
                        </p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div> <br> <br>
        <div class="row text-center">
            <div class="container">
                <h4>Fabricamos los medios de cultivo más comunes, todos con esterilización final por radiación Gamma:
                </h4>
                <p class="card-text">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cuenta Total Soya Tripticaseína.</li>
                    <li class="list-group-item">Dextrosa Saboraud.</li>
                    <li class="list-group-item">Rosa de Bengala.</li>
                    <li class="list-group-item">MacConkey.</li>
                    <li class="list-group-item">PDA; etc.</li>
                </ul>
                </p>
            </div>
        </div>
        <div class="row rowLimpieza">
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/monitoreoA4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Caja Rodac</h5>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/monitoreoA5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Penicilinasa<br><span
                                class="text-secondary">Enzima inactivadora de la penicilina y productos beta-lactámicos. </span>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/monitoreoA3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Cajas Petri</h5>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>