<div class="perfexDiv">
    <div class="limpiandoBanner">
        <div class="overlay">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h1 class="esensaTitleLimpiandoBanner">
                            ESENSA® es marca líder.
                        </h1>
                        <a href="/contacto">
                            <button type="button" class="btn btn-primary">Contactar</button></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <h1>Nebulizadores</h1>
        <img src="/assets/images/fogmasterLogo.png" alt="Logo Fogmaster">
        <p>
            Fogmaster es un fabricante líder de máquinas de nebulización y atomización de líquidos para usarse en
            laboratorios, hospitales, comercios, industrias en general. <br>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active bg-dark">
                Aplicaciones principales:
            </button>
            <button type="button" class="list-group-item list-group-item-action">La Desinfección y la
                Esterilización.</button>
            <button type="button" class="list-group-item list-group-item-action">Control de Olores.</button>
            <button type="button" class="list-group-item list-group-item-action">Control de plagas.</button>
            <button type="button" class="list-group-item list-group-item-action">Humidificación.</button>
        </div>
        </p>
    </div>
    <div class="container">
        <div class="row rowLimpieza">
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/fogmaster1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">BASE GIRATORIA</h5>
                        <p class="card-text">
                            Base que Gira a 3 RPM; Ideal para la distribución uniforme de la niebla, recomendada para
                            nebulizar áreas grandes.
                        </p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/fogmaster2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">FOGMASTER JR 5330 <br><span class="text-secondary">Pequeño Nebulizador de
                                utilidad general</span>
                            <br> <br>
                        </h5>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/fogmaster3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Timer <br><span class="text-secondary">Hay 3 tipos de
                                temporizadores:</span></h5>
                        <p class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">7304 Conteo hacia atrás, sencillo, máximo 60 minutos.</li>
                            <li class="list-group-item">2238 Ideal para repetir ciclos de operación, Usado para control
                                de Olores y que el equipo arranque cada determinado tiempo. Disponible en 120 y 240 VAC.
                            </li>
                            <li class="list-group-item">2239 Programable, para ser programado durante 7 días a la semana
                                y durante 6 eventos por día.
                                Disponible en 120 y 240 VAC.</li>
                        </ul>
                        </p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row rowLimpieza">
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/fogmaster4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">FOGMASTER POW-R-JET 6309<br><span class="text-secondary">Perfecto para
                                Sanitizar Áreas Asépticas</span></h5>
                        <p class="card-text">
                            Debido a que el tamaño de gota se regula con válvulas, este equipo es ideal para la
                            sanitización de áreas limpias pues de manera constante se repetirá lo indicado en su
                            procedimiento de sanitización.
                        </p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/fogmaster5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">FOGMASTER TRI JET 6208<br><span class="text-secondary">El Nebulizador
                                Ideal de uso general</span> <br><br>
                        </h5>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>