<div class="nosotrosDiv">
    <div class="container ">
        <div class="row">
            <div class="col-md-8">
                <h3>¿Cuál es nuestra historia?</h3>
                <p>
                    Desde 1998, nos hemos dedicado a desarrollar soluciones para los problemas de contaminación en las
                    áreas con
                    ambientes controlados.
                <ul class="list-group">
                    <li class="list-group-item">Cuartos limpios.</li>
                    <li class="list-group-item">Cuartos asépticos.</li>
                    <li class="list-group-item">Cuartos limpios ESD.</li>
                </ul>
                </p>
                <br>
            </div>
            <div class="col-md-4 nosotrosHistoriaImg"></div>
        </div>
    </div>
    <div class="divNosotrosValores">
        <div class="container">
            <div class="">
                <div class="container" style="max-width: 900px">
                    <div class="row text-center">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h3>Valores ESENSA®</h3> <br>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                        href="#nav-home" role="tab" aria-controls="nav-home"
                                        aria-selected="true">Integridad</a>
                                    <a class="nav-item nav-link" id="nav-conf-tab" data-toggle="tab" href="#nav-conf"
                                        role="tab" aria-controls="nav-conf" aria-selected="false">Trabajo en Equipo</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                        href="#nav-contact" role="tab" aria-controls="nav-contact"
                                        aria-selected="false">Honestidad</a>
                                    <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about"
                                        role="tab" aria-controls="nav-about" aria-selected="false">Responsabilidad</a>
                                    <a class="nav-item nav-link" id="nav-inno-tab" data-toggle="tab" href="#nav-inno"
                                        role="tab" aria-controls="nav-inno" aria-selected="false">Compromiso</a>
                                    <a class="nav-item nav-link" id="nav-vol-tab" data-toggle="tab" href="#nav-vol"
                                        role="tab" aria-controls="nav-vol" aria-selected="false">Ética</a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                    aria-labelledby="nav-home-tab">
                                    Todos nuestros productos y todas nuestras operaciones tienen como fin el bienestar
                                    de nuestros clientes y de ESENSA®
                                </div>
                                <div class="tab-pane fade" id="nav-conf" role="tabpanel" aria-labelledby="nav-conf-tab">
                                    Siempre permanecemos conectados con nuestros clientes, para dar el mejor servicio,
                                    la mejor calidad y hacerles llegar productos innovadores.
                                </div>
                                <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                    aria-labelledby="nav-contact-tab">
                                    Sabemos que es fundamental, para mantener las relaciones, que los vínculos se
                                    construyan a base de la honestidad. Debido a esto, la predicamos en todo momento.
                                </div>
                                <div class="tab-pane fade" id="nav-about" role="tabpanel"
                                    aria-labelledby="nav-about-tab">
                                    Siempre mantendremos la responsabilidad como pilar de nuestras operaciones. Es lo
                                    que le da vida a nuestros productos.
                                </div>
                                <div class="tab-pane fade" id="nav-inno" role="tabpanel" aria-labelledby="nav-inno-tab">
                                    El compromiso con nosotros mismos y con nuestros colaboradores es un elemento que
                                    permite actuar de manera fluida.
                                </div>
                                <div class="tab-pane fade" id="nav-vol" role="tabpanel" aria-labelledby="nav-vol-tab">
                                    Nosotros apoyamos la ética en todas sus extensiones. Creemos que es el alma de
                                    cualquier empresa y nosotros la compartimos diariamente.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br>
                <br>

            </div>
            <br>
            <h3>Misión</h3>
            <p>
                Ser el proveedor líder en confiabilidad y calidad con clase mundial para el control de la contaminación
                en nuestro mercado; así como ser una célula de bienestar para nuestros clientes, proveedores, el entorno
                social y los empleados de ESENSA®.
            </p>
            <hr style="border: 0.5px solid wheat">
            <h3>Visión</h3>
            <p>
                Incrementar la penetración de productos especializados para la industria limpia en el mercado nacional,
                así como en el mercado internacional; cumpliendo con los estándares de calidad, de los clientes y de los
                gobiernos.
            </p>
            <hr style="border: 0.5px solid wheat">
            <h3>Política de Calidad</h3>
            <p>
                Fabricar y comercializar productos de calidad para la industria limpia, sobrepasando la expectativa de
                nuestros clientes, a través de la mejora continua, innovación, desarrollo y creatividad; siguiendo
                siempre los conceptos de las Buenas Prácticas de Manufactura.
            </p>
        </div>
    </div>
    <div class="container nuestrosProductosDivNosotros">
        <h3>Nuestros productos</h3>
        Fabricamos productos que cumplen y superan las expectativas de nuestros clientes para solucionar los
        problemas
        de contaminación por partículas, fibras, microorganismos y estática.
        <br> <br>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active titleListGroupInicioNosotros">
                Proveedor líder en suministro de productos para las industrias:
            </button>
            <button type="button" class="list-group-item list-group-item-action">Farmacéutica.</button>
            <button type="button" class="list-group-item list-group-item-action">Productos médicos.
            </button>
            <button type="button" class="list-group-item list-group-item-action">Electrónica. </button>
            <button type="button" class="list-group-item list-group-item-action">Automotriz.</button>
            <button type="button" class="list-group-item list-group-item-action">Cosmética.</button>
            <button type="button" class="list-group-item list-group-item-action">Alimentaria.</button>
            <button type="button" class="list-group-item list-group-item-action">Aeroespacial.</button>
            <button type="button" class="list-group-item list-group-item-action">Pinturas e
                impresiones.</button>

        </div>
    </div>
</div>