<div class="nosotrosDiv">
    <div class="container ">
        <div class="row">
            <div class="col-md-8">
                <h3>¿Cuál es nuestra historia?</h3>
                <p>
                    Desde 1998, nos hemos dedicado a desarrollar soluciones para los problemas de contaminación en las
                    áreas con
                    ambientes controlados.
                <ul class="list-group">
                    <li class="list-group-item">Cuartos limpios.</li>
                    <li class="list-group-item">Cuartos asépticos.</li>
                    <li class="list-group-item">Cuartos limpios ESD.</li>
                </ul>
                </p>
                <br>
            </div>
            <div class="col-md-4 nosotrosHistoriaImg"></div>
        </div>
    </div>
    <div class="divNosotrosValores">
        <div class="container">
            <div class="">
                <div class="container" style="max-width: 900px">
                    <div class="row text-center">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <h3>Valores ESENSA®</h3>
                            <hr>
                            <p>
                                Hacemos de nuestras acciones, normas y principios un reflejo de nuestra cultura
                                empresarial.
                            </p> <br>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                        href="#nav-home" role="tab" aria-controls="nav-home"
                                        aria-selected="true">Integridad</a>
                                    <a class="nav-item nav-link" id="nav-conf-tab" data-toggle="tab" href="#nav-conf"
                                        role="tab" aria-controls="nav-conf" aria-selected="false">Trabajo en Equipo</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                        href="#nav-contact" role="tab" aria-controls="nav-contact"
                                        aria-selected="false">Honestidad</a>
                                    <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about"
                                        role="tab" aria-controls="nav-about" aria-selected="false">Responsabilidad</a>
                                    <a class="nav-item nav-link" id="nav-inno-tab" data-toggle="tab" href="#nav-inno"
                                        role="tab" aria-controls="nav-inno" aria-selected="false">Ética profesional</a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                    aria-labelledby="nav-home-tab">
                                    El compromiso por ser mejores cada día; el respeto por nuestro trabajo, así como la
                                    corrección de nuestros errores, son el motor con el que promovemos la confianza y la
                                    deferencia en nuestros clientes.
                                </div>
                                <div class="tab-pane fade" id="nav-conf" role="tabpanel" aria-labelledby="nav-conf-tab">
                                    Somos un equipo multifuncional que trabaja con objetivos comunes enfocados en la
                                    mejora continua de nuestros servicios fortaleciendo con ello la certidumbre de los
                                    clientes hacia nuestros productos, nuestro trabajo y con nuestros colaboradores.
                                </div>
                                <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                    aria-labelledby="nav-contact-tab">
                                    En nuestra cultura de trabajo, comunicarnos con la verdad con nuestros
                                    colaboradores, con nuestros clientes y con nuestros proveedores, es mandatorio y
                                    asumimos la responsabilidad que esto conlleva, ya que la honestidad es nuestro
                                    principal valor.
                                </div>
                                <div class="tab-pane fade" id="nav-about" role="tabpanel"
                                    aria-labelledby="nav-about-tab">
                                    Tenemos el compromiso de mantener la calidad de nuestros productos, así como el
                                    empeño en promover la mejora continua de nuestros servicios y el cometido de
                                    trabajar para llevar a cero las desviaciones.
                                </div>
                                <div class="tab-pane fade" id="nav-inno" role="tabpanel" aria-labelledby="nav-inno-tab">
                                    En nuestra cultura empresarial, en nuestra atención al cliente y en el trato con
                                    nuestros proveedores, nos rigen en la acción nuestros valores, nuestras normas y
                                    nuestros principios.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br>
                <br>

            </div>
            <br>
            <h3>Misión</h3>
            <p>
                Ser el proveedor líder en confiabilidad y calidad con clase mundial para los ambientes controlados y con
                el compromiso permanente en ofrecer productos que satisfagan las expectativas de nuestros clientes; de
                la misma manera, promover con nuestras acciones el bienestar de nuestros colaboradores, clientes,
                proveedores y el entorno social.
            </p>
            <hr style="border: 0.5px solid wheat">
            <h3>Visión</h3>
            <p>
                Incrementar la penetración de productos especializados para los ambientes controlados en el mercado
                nacional e internacional a través de la innovación tecnológica, la creatividad, la mejora continua y la
                optimización de nuestros procesos para beneficio de nuestros clientes.
            </p>
            <hr style="border: 0.5px solid wheat">
            <h3>Política de Calidad</h3>
            <p>
                Fabricar y comercializar productos de calidad para los ambientes controlados de acuerdo a las
                condiciones y requisitos necesarios que se establecen en las Buenas Prácticas de Manufactura.
            </p>
        </div>
    </div>
    <div class="container nuestrosProductosDivNosotros">
        <h3>Nuestros productos</h3>
        Fabricamos productos que cumplen y superan las expectativas de nuestros clientes para solucionar los
        problemas
        de contaminación por partículas, fibras, microorganismos y estática.
        <br> <br>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active titleListGroupInicioNosotros">
                Proveedor líder en suministro de productos para las industrias:
            </button>
            <button type="button" class="list-group-item list-group-item-action">Farmacéutica.</button>
            <button type="button" class="list-group-item list-group-item-action">Productos médicos.
            </button>
            <button type="button" class="list-group-item list-group-item-action">Electrónica. </button>
            <button type="button" class="list-group-item list-group-item-action">Automotriz.</button>
            <button type="button" class="list-group-item list-group-item-action">Cosmética.</button>
            <button type="button" class="list-group-item list-group-item-action">Alimentaria.</button>
            <button type="button" class="list-group-item list-group-item-action">Aeroespacial.</button>
            <button type="button" class="list-group-item list-group-item-action">Pinturas e
                impresiones.</button>

        </div>
    </div>
</div>