<div class="overolesDiv">
    <div class="limpiandoBanner">
        <div class="overlay">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h1 class="esensaTitleLimpiandoBanner">
                            ESENSA® es marca líder.
                        </h1>
                        <a href="/contacto">
                            <button type="button" class="btn btn-primary">Contactar</button></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner carousel-innerOveroles">
                        <div class="carousel-item active carouselItemOveroles">
                            <img class="d-block w-50 carouselItemOverolesImg" src="/assets/images/overoles1.jpg"
                                alt="First slide">
                        </div>
                        <div class="carousel-item carouselItemOveroles">
                            <img class="d-block w-50 carouselItemOverolesImg" src="/assets/images/overoles2.jpg"
                                alt="Second slide">
                        </div>
                        <div class="carousel-item carouselItemOveroles">
                            <img class="d-block w-50 carouselItemOverolesImg" src="/assets/images/overoles3.jpg"
                                alt="Third slide">
                        </div>
                        <div class="carousel-item carouselItemOveroles">
                            <img class="d-block w-50 carouselItemOverolesImg" src="/assets/images/overoles4.jpg"
                                alt="Third slide">
                        </div>
                        <div class="carousel-item carouselItemOveroles">
                            <img class="d-block w-50 carouselItemOverolesImg" src="/assets/images/overoles5.jpg"
                                alt="Third slide">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h1>Overoles</h1>
                <p>Ensamblados de 2 piezas y minimizan las costuras para evitar las áreas de entrampamiento. También,
                    son fabricados
                    con hilos de filamento continuo de poliester, con la opción poliester/carbón.</p>
                <br>
                <br>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner carousel-innerOveroles">
                        <div class="carousel-item active carouselItemOveroles">
                            <img class="d-block w-50 carouselItemOverolesImg" src="/assets/images/overolauto1.jpg"
                                alt="First slide">
                        </div>
                        <div class="carousel-item carouselItemOveroles">
                            <img class="d-block w-50 carouselItemOverolesImg" src="/assets/images/overolauto2.jpg"
                                alt="Second slide">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h1>Modelo <br> Automotriz</h1>
                <p>Fabricados en KC-C1, este overol cuenta con un sistema de ventilación en la espalda, costados y
                    entrepiernas. No generan pelusas o fibras, son antiestáticos y resisten el lavado en percloroetileno,
                    para desmanchar pinturas usadas en la industria automotriz y de "screen printing".</p>
                <br>
                <br>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>