<div class="perfexDiv">
    <div class="limpiandoBanner">
        <div class="overlay">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h1 class="esensaTitleLimpiandoBanner">
                            ESENSA® es marca líder.
                        </h1>
                        <a href="/contacto">
                            <button type="button" class="btn btn-primary">Contactar</button></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
     <div class="container text-center">
        <h1>Productos PERFEX®</h1>
    </div>
    <div class="container">
        <div class="row rowLimpieza">
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">True Clean Pro 22-3 XL</h5>
                        <p class="card-text">3 Bucket 22 L</p>
                        <hr>
                        <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">True Clean Pro 22-2</h5>
                        <p class="card-text">2 Bucket 22 L</p>
                        <hr>
                        <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">True Clean Pro 22-3</h5>
                        <p class="card-text">3 bucket 15 L</p>
                        <hr>
                        <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row rowLimpieza">
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">30-3 Sistema de sanitización y desinfección</h5>
                        <p class="card-text">Cuenta con 2 cubetas y 1 placa perforada, para eliminar exceso de líquidos.
                        </p>
                        <hr>
                        <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex7.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">30-2 Sistema económico con 2 cubetas y exprimidor</h5>
                        <p class="card-text">Capacidad de 36 L</p>
                        <hr>
                        <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex6.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">MOP 22-29</h5>
                        <p class="card-text">Para cuartos limpios.</p>
                        <hr>
                        <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row rowLimpieza">
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Sistema de limpieza para pisos, paredes y techos "True Clean"</h5>
                        <p class="card-text">Con mango, cabezal, esponja y cubre esponja.</p>
                        <hr>
                        <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex8.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">MOP Antimicrobiano 22-32</h5>
                        <hr>
                        <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex9.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">MOP microfibra 22-31</h5>
                        <hr>
                        <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row rowLimpieza">
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex10.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mango Telescópico 18´´ c/"True Clean"</h5>
                        <hr>
                        <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex11.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">YARN MOP 22-33</h5>
                        <hr>
                        <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex12.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mango Telescópico 18´´ c/fibra</h5>
                        <hr>
                        <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row rowLimpieza">
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex13.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Jalador de neopreno 18´´ y 24´´</h5>
                        <hr>
                        <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex14.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Jalador doble de PVC 18´´, 24´´, 30´´</h5>
                        <hr>
                        <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex15.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">3040</h5>
                        <p class="card-text">Cepillo para limpieza de tanques. Fabricado con fibras de poliéster muy
                            durable. No conductivo.</p>
                            <hr>

                            <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row rowLimpieza">
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex16.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">3010</h5>
                        <p class="card-text">Cepillos para trabajos duros, pisos y paredes; ideal para tallar, durable;
                            fabricado con fibras de polipropileno.</p>
                            <hr>

                            <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex17.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">3073, 3074, 3075</h5>
                        <p class="card-text">Cepillo para tubería, fácil enjuague y no guarda olores, disponible en 3´´,
                            4´´y 5´´ de diámetro. Mangos de 16´´ o 30´´</p>
                            <hr>

                            <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex18.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">3055</h5>
                        <p class="card-text">Cepillo largo y delgado para áreas de dificil acceso compatible con agua,
                            grasas, productos de petróleo, detergentes, suavizantes y solventes.</p>
                            <hr>

                            <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row rowLimpieza">
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex19.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Escoba 2200 ligera y 2300 pesada</h5>
                        <p class="card-text">Cerdas de polipropileno, anguladas para un mejor desempeño, 5 colores disponibles.</p>
                        <hr>
                        <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex20.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Fibras de excelente desempeño para tallar superficies delicadas, medio o rugosas 9´´ x 6´´</h5>
                        <p class="card-text">5200 Ligera <br> 5300 Medio <br> 5400 Pesada</p>
                        <hr>
                        <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardPerfex" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/perfex21.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">3010</h5>
                        <p class="card-text">Cepillos para laboratorios; diferentes tipos, tamaños y modelos de escobillones. Fibras de poliéster y acero inoxidable.</p>
                        <hr>
                        <a href="/contacto">
                    <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>