<div class="productosDiv">
    <div class="limpiandoBanner">
        <div class="overlay">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h1 class="esensaTitleLimpiandoBanner">
                            ESENSA® es marca líder.
                        </h1>
                        <a href="/contacto">
                            <button type="button" class="btn btn-primary">Contactar</button></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <section class="default-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 title text-center">
                    <h2>Nuestros productos</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex" style="flex-wrap: wrap; height: 0%">
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/overoles">
                                    <h2 class="text-nuestras">Overoles</h2>
                                    <img src="/assets/images/45.png" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/escafandras">
                                    <h2 class="text-nuestras">Escafandras</h2>
                                    <img src="/assets/images/escafandra.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/zapatones">
                                    <h2 class="text-nuestras">Zapatones</h2>
                                    <img src="/assets/images/zapatones.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/batas">
                                    <h2 class="text-nuestras" style="top: 34%">Batas</h2>
                                    <img src="/assets/images/batas.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/cubrezapatos">
                                    <h2 class="text-nuestras" style="top: 36%">Cubrezapatos</h2>
                                    <img src="/assets/images/cubrezapatos.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/desechables">
                                    <h2 class="text-nuestras" style="font-size: 19px">Artículos <br> desechables</h2>
                                    <img src="/assets/images/deshechables.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/limpieza">
                                    <h2 class="text-nuestras" style="font-size: 19px; top: 30%">Artículos <br> de limpieza
                                    </h2>
                                    <img src="/assets/images/limpieza.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/jabones">
                                    <h2 class="text-nuestras" style="font-size: 19px; top: 32%">Jabones <br> y Sanitizantes
                                    </h2>
                                    <img src="/assets/images/jabones.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/nebulizadores">
                                    <h2 class="text-nuestras">Nebulizadores <br> (Fogmaster)</h2>
                                    <img src="/assets/images/fogmaster.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/tapetes-adhesivos">
                                    <h2 class="text-nuestras" style="font-size: 19px">Tapetes adhesivos</h2>
                                    <img src="/assets/images/tapetesAdhesivos.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/monitoreo-aire">
                                    <h2 class="text-nuestras" style="font-size: 19px">Monitoreo <br> de aire</h2>
                                    <img src="/assets/images/monitoreoAmbiental.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/monitoreo-ambiental">
                                    <h2 class="text-nuestras" style="font-size: 19px">Monitoreo Ambiental</h2>
                                    <img src="/assets/images/monitoreoA1.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/ropa">
                                    <h2 class="text-nuestras" style="font-size: 19px">Ropa <br> Médica/Pijamas/Interior</h2>
                                    <img src="/assets/images/ropa.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/mascarillas">
                                    <h2 class="text-nuestras" style="font-size: 19px">Mascarillas</h2>
                                    <img src="/assets/images/mascarillas.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/calzuro">
                                    <h2 class="text-nuestras" style="font-size: 19px">Zapatos para <br>cuartos limpios</h2>
                                    <img src="/assets/images/calzuro.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/panos-limpieza">
                                    <h2 class="text-nuestras" style="font-size: 19px"></h2>
                                    <img src="/assets/images/panos.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/googles">
                                    <h2 class="text-nuestras" style="font-size: 19px">Googles Antiempañantes</h2>
                                    <img src="/assets/images/googles.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                        </div>
                    </div> --}}
                     <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/guantes">
                                    <h2 class="text-nuestras" style="font-size: 19px">Guantes de látex <br> y Nitrilo</h2>
                                    <img src="/assets/images/guantes.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>