<div class="productosDiv">
    <div class="limpiandoBanner">
        <div class="overlay">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h1 class="esensaTitleLimpiandoBanner">
                            ESENSA® es marca líder.
                        </h1>
                        <a href="/contacto">
                            <button type="button" class="btn btn-primary">Contactar</button></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <section class="default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 title text-center">
                    <h2>Nuestros productos</h2>
                    <a href="https://drive.google.com/file/d/1cHenZIN6NSli0HMknrFiV-aoEviY0kaO/view?usp=sharing"
                        target="_blank"><button type="button" class="btn btn-outline-info btn-block btnCatalogo">Click
                            para descargar nuestro catálogo <br> ESENSA®</button></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex" style="flex-wrap: wrap; height: 0%">
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/telas">
                                    <img src="/assets/images/telas.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 class="titleCardProductos">Telas <br>ESENSA®</h2>
                                <a href="/telas" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/overoles">
                                    <img src="/assets/images/45.png" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 class="titleCardProductos">Overoles</h2>
                                <a href="/overoles" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/escafandras">
                                    <img src="/assets/images/escafandra.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 class="titleCardProductos">Escafandras</h2>
                                <a href="/escafandras" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/zapatones">
                                    <img src="/assets/images/zapatones.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 class="titleCardProductos">Zapatones</h2>
                                <a href="/zapatones" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/batas">
                                    <img src="/assets/images/batas.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 class="titleCardProductos">Batas</h2>
                                <a href="/batas" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/cubrezapatos">
                                    <img src="/assets/images/cubrezapatos.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 class="titleCardProductos">Cubrezapatos</h2>
                                <a href="/cubrezapatos" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/desechables">
                                    <img src="/assets/images/deshechables.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 class="titleCardProductos">Artículos <br> desechables</h2>
                                <a href="/desechables" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/limpieza">
                                    <img src="/assets/images/limpieza.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 class="titleCardProductos">Artículos <br> de
                                    limpieza</h2>
                                <a href="/limpieza" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/jabones">
                                    <img src="/assets/images/jabones.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 class="titleCardProductos">Jabones <br> y
                                    Sanitizantes</h2>
                                <a href="/jabones" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/nebulizadores">
                                    <img src="/assets/images/fogmaster.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 class="titleCardProductos">Nebulizadores <br> (Fogmaster)</h2>
                                <a href="/nebulizadores" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/tapetes-adhesivos">
                                    <img src="/assets/images/tapetesAdhesivos.jpg"
                                        style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 class="titleCardProductos">Tapetes adhesivos</h2>
                                <a href="/tapetes-adhesivos" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/monitoreo-aire">
                                    <img src="/assets/images/monitoreoAmbiental.jpg"
                                        style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 class="titleCardProductos">Monitoreo <br> de aire</h2>
                                <a href="/monitoreo-aire" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/monitoreo-ambiental">
                                    <img src="/assets/images/monitoreoA1.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 class="titleCardProductos">Monitoreo Ambiental</h2>
                                <a href="/monitoreo-ambiental" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/ropa">
                                    <img src="/assets/images/ropa.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 class="titleCardProductos">Ropa Médica <br> Pijamas & Interior</h2>
                                <a href="/ropa" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/mascarillas">
                                    <img src="/assets/images/mascarillas.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 class="titleCardProductos">Mascarillas</h2>
                                <a href="/mascarillas" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/calzuro">
                                    <img src="/assets/images/calzuro.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 class="titleCardProductos">Zapatos para <br>cuartos limpios</h2>
                                <a href="/calzuro" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/panos-limpieza">
                                    <h2 class="text-nuestras" style="font-size: 19px"></h2>
                                    <img src="/assets/images/panos.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/googles">
                                    <h2 class="text-nuestras" style="font-size: 19px">Googles Antiempañantes</h2>
                                    <img src="/assets/images/googles.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                        </div>
                    </div> --}}
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="/guantes">
                                    <img src="/assets/images/guantes.jpg" style="width: 100%; border-radius: 8px;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 class="titleCardProductos">Guantes de látex <br> y Nitrilo</h2>
                                <a href="/guantes" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>