<div class="perfexDiv">
    <div class="limpiandoBanner">
        <div class="overlay">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h1 class="esensaTitleLimpiandoBanner">
                            ESENSA® es marca líder.
                        </h1>
                        <a href="/contacto">
                            <button type="button" class="btn btn-primary">Contactar</button></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <h1>SERVICIOS ESENSA®</h1>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/lavanderiaServicios.jpg" class="img-fluid" alt="Responsive image"
                    style="border-radius: 8px;" onclick="location.href='/lavanderia';">
                <hr>
                <button type="button" class="btn btn-info btn-lg btn-block btnServicios" onclick="location.href='/lavanderia';">VER SERVICIO DE <br> LAVANDERÍA</button>

            </div>
            <div class="col-md-6">
                <img src="/assets/images/calibracionServicios.jpg" class="img-fluid" alt="Responsive image"
                    style="border-radius: 8px;" onclick="location.href='/calibracion';">
                <hr>
                <button type="button" class="btn btn-info btn-lg btn-block btnServicios"
                    onclick="location.href='/calificacion';">VER SERVICIO DE VALIDACIÓN Y <br> CALIFICACIÓN DE ÁREAS</button>
            </div>
        </div>
    </div>

</div>