<div class="perfexDiv">
    <div class="limpiandoBanner">
        <div class="overlay">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h1 class="esensaTitleLimpiandoBanner">
                            ESENSA® es marca líder.
                        </h1>
                        <a href="/contacto">
                            <button type="button" class="btn btn-primary">Contactar</button></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <h1>TELAS ESENSA®</h1>
    </div>
    <div class="container">
        <div class="row rowLimpieza">
            <div class="col-md-6">
                <img src="/assets/images/telas.jpg" class="img-fluid" alt="Responsive image">
                <hr>
                <a href="/contacto">
                    <button type="button" class="btn btn-lg btn-dark">Contactar</button></a>
            </div>
            <div class="col-md-6">
                <p>
                <ul class="list-group">
                    <li class="list-group-item">Para las industria farmacéutica y médica, la <span
                            class="text-info">Tela KC-9</span>, es perfecta
                        por sus características de filtración, gran desempeño, antiestática, y sobre todo, por la
                        propiedad antimicrobiana que posee, lo que la hace ideal para áreas asépticas.</li>
                    <li class="list-group-item"><span class="text-info">La Tela KC-75</span>, está diseñada para la
                        industria electrónica, ensamble
                        médico, fotografía, entre otras.</li>
                    <li class="list-group-item">La ventaja que presenta <span class="text-info">la KC-75</span>, sobre
                        las demás telas ,es su alta
                        eficiencia de filtración, además de ser antiestática y durable.</li>
                    <li class="list-group-item"><span class="text-info">La Tela KC-7</span>, es usada para la
                        manufactura de ropa médica, pijamas o
                        ropa interior; es cómoda, antiestática y muy fresca.</li>
                    <li class="list-group-item"><span class="text-info">La Tela KC-43</span>, presenta un terminado anti
                        splash, por lo que, se
                        recomienda para áreas donde es importante el cuidado de los líquidos; además de ser ideal para
                        cuartos limpios.</li>
                    <li class="list-group-item"><span class="text-info">La Tela KC-3B</span>, es económica y resistente;
                        ideal para áreas con ambientes
                        controlados Clase ISO 6 y mayores.</li>
                    <li class="list-group-item">Contamos también con Tela Tafeta de poliéster, sin carbón de filamento
                        continuo, son empleadas para áreas donde no hay problemas de estática y donde el control de
                        partículas es primordial.</li>
                </ul>
                </p>
            </div>
        </div>
    </div> <br><br>
    <div class="container text-center">
        <h1>COLORES</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-primary">Colores disponibles KC-9</li>
                    <li class="list-group-item">Azul Claro</li>
                    <li class="list-group-item">Azul Marino</li>
                    <li class="list-group-item">Azul Rey</li>
                    <li class="list-group-item">Beige</li>
                    <li class="list-group-item">Gris</li>
                    <li class="list-group-item">Negro</li>
                    <li class="list-group-item">Verde Menta</li>
                    <li class="list-group-item">Verde Bandera</li>
                    <li class="list-group-item">Amarillo</li>
                    <li class="list-group-item">Blanco</li>
                    <li class="list-group-item">Naranja</li>
                    <li class="list-group-item">Rojo</li>
                    <li class="list-group-item">Rosa</li>
                    <li class="list-group-item">Azul Petróleo</li>
                </ul>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-primary">Colores disponibles KC-75</li>
                    <li class="list-group-item">Azul Claro</li>
                    <li class="list-group-item">Azul Marino</li>
                    <li class="list-group-item">Azul Rey</li>
                    <li class="list-group-item">Beige</li>
                    <li class="list-group-item">Gris</li>
                    <li class="list-group-item">Negro</li>
                    <li class="list-group-item">Verde Menta</li>
                    <li class="list-group-item">Blanco</li>
                </ul>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-primary">Colores disponibles KC-7</li>
                    <li class="list-group-item">Azul Marino</li>
                    <li class="list-group-item">Blanco</li>
                    <li class="list-group-item">Azul Petróleo</li>
                </ul>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-primary">Colores disponibles KC-43</li>
                    <li class="list-group-item">Azul Claro</li>
                    <li class="list-group-item">Azul Marino</li>
                    <li class="list-group-item">Azul Rey</li>
                    <li class="list-group-item">Beige</li>
                    <li class="list-group-item">Gris</li>
                    <li class="list-group-item">Negro</li>
                    <li class="list-group-item">Verde Menta</li>
                    <li class="list-group-item">Blanco</li>
                </ul>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-primary">Colores disponibles KC-3B</li>
                    <li class="list-group-item">Azul Claro</li>
                    <li class="list-group-item">Azul Marino</li>
                    <li class="list-group-item">Beige</li>
                    <li class="list-group-item">Blanco</li>
                    <li class="list-group-item">Verde Menta</li>
                    <li class="list-group-item">Rojo</li>
                </ul>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-primary">Colores disponibles Tafeta</li>
                     <li class="list-group-item">Azul Claro</li>
                    <li class="list-group-item">Azul Marino</li>
                    <li class="list-group-item">Azul Rey</li>
                    <li class="list-group-item">Gris</li>
                    <li class="list-group-item">Negro</li>
                    <li class="list-group-item">Verde Agua</li>
                    <li class="list-group-item">Blanco</li>
                    <li class="list-group-item">Verde Bandera</li>
                    <li class="list-group-item">Amarillo</li>
                    <li class="list-group-item">Naranja</li>
                    <li class="list-group-item">Vino</li>
                    <li class="list-group-item">Rosa</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>