<div class="viledaDiv">
    <div class="limpiandoBanner">
        <div class="overlay">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h1 class="esensaTitleLimpiandoBanner">
                            ESENSA® es marca líder.
                        </h1>
                        <a href="/contacto">
                            <button type="button" class="btn btn-primary">Contactar</button></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <h1>Productos VILEDA®</h1>
    </div>
    <div class="container">
        <div class="row rowLimpieza">
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/vileda1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Sistema de limpieza Vileda® Roll-O-Matic®</h5>
                        <p class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Esponja redonda.</li>
                            <li class="list-group-item">Mango auto exprimible, con opción a expandirse.</li>
                            <li class="list-group-item">Arillos de colores para identificación de áreas.</li>
                        </ul>
                        </p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/vileda2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Vileda® Roll-O-Matic®</h5>
                        <p class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Resiste los desinfectantes comunes y detergentes.</li>
                            <li class="list-group-item">Compatible con esterilización por autoclave, ETO y radiación
                                gama.</li>
                            <li class="list-group-item">Esponja altamente absorbente de fácil limpieza al exprimirse con
                                el uso de una palanca.</li>
                        </ul>
                        </p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/vileda6.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Recogedor</h5>
                        <p class="card-text">
                            Sistema para recolección de basuras de riesgo, mediante una bolsa de plástico de fácil
                            intercambio.
                        </p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row rowLimpieza">
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/vileda3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Repuesto de esponja azul de 14", para Roll-O-Matic®</h5>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/vileda4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Repuesto de esponja con un laminado de poliéster blanco de 14", para
                            Roll-O-Matic®</h5>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardContec" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/vileda5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Jalador de Plástico</h5>
                        <p class="card-text">Ideal en conjunto con el recogedor para no tener contacto directo con los
                            residuos de riesgo.</p>
                        <hr>
                        <a href="/contacto">
                            <button type="button" class="btn btn-dark">Contactar</button></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>