.navbar{
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 1%;
    background-color: #263b8b !important;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: #a4cd38 !important;
}
.bannerInicio{
    height: 30rem;
    background-image: url("/assets/images/bannerDegradado.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed;
    transition: 0s linear; */
    background-position: 25% 85%;
}
.logoBannerInicio{
    width: 60%;
    margin-top: 20%;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.335);
}
.bannerTitleValueProp{
    color: #263b8b;
    margin-top: 3%;
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: #a3cd38;
    border-radius: 8pt;
}
.icon{
    color: #263b8b !important;
}
.titleInfoProductosInicio{
    margin-top: 12%
}
.titleListGroupInicioNosotros{
    background-color: #263b8b !important;
    color: white !important;
}
.fontEsensa{
    font-family: 'Montserrat Alternates', sans-serif;
}
.fontEsensa1{
    font-family: 'Enriqueta', serif;
}
.propuestValorDiv{
    font-size: bolder;
}
.jumboTronEsensaInicio{
    color: #263b8b;
    margin: 0%;
}
.titleInfoProductosInicioCol{
    color: wheat;
}
.footerEsensa{
    height: 25rem;
    background-image: url("/assets/images/footerEsensa.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
    color: #c9f55b;
}
.firstSlide{
    height: 25rem;
    background-image: url("/assets/images/45.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.secondSlide{
    height: 25rem;
    background-image: url("/assets/images/46.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nosotrosHistoriaImg{
    height: 25rem;
    background-image: url("/assets/images/47.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5%;
}
.limpiandoBanner{
    height: 20rem;
    background-image: url("/assets/images/limpiando.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5%;
    background-attachment: fixed;
    transition: 0s linear;
    background-position: inherit;
}
.carouselDiv{
}
.carousel-innerInicio{
    border-radius: 8px;
    margin-bottom: 10%;
    margin-top: 10%;
}
.inicioNosotrosDiv{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    position: relative;
    left: 10%;
}
.listNosotrosContainer{
    margin-top: 5%;
}
.jumboInicioNosotrosDiv{
    height: 15rem;
    padding-top: 5%;
    border-radius: 8pt;
}
.siteMapItem{
    color: #c9f55b;
}
.siteMapItem:hover{
    color: white;
}
.footerfoot{
    background-color: #263b8b;
    color: white !important;
}
.imgLogoFooter{
    margin-left: 130%;
}
.nosotrosDiv{
    margin-top: 4%;
}
.divNosotrosValores{
    background-color: #263a8ba1;
    padding-top: 5%;
    color: white;
    height: 50rem;
}
.nuestrosProductosDivNosotros{
    margin-top: 5%;
    margin-bottom: 5%;
}
.esensaTitleLimpiandoBanner{
    color: white;
    padding-top: 20%;
}
/* Productos */
.item-33-buscas {
	flex: 0 0 33%;
	max-width: 33%;
	height: 0%;
	margin: 0 auto;
}
.item-33-buscas .content-item {
	padding: 10px;
}
.content-item .text-nuestras,
.content-item .text-nuestras-p,
.content-item .text-nuestras-sol,
.content-item .text-nuestras-p-sol{
  transition: all ease 50ms;
}


.content-item:hover .pic img {
  opacity: 0.5;
}


.text-nuestras{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #c9f55b;
	font-weight: 600;
    font-size: 21px;
	white-space: nowrap;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #263a8ba1;
    border-radius: 8px;
    padding: 1%;
    
}


.content-item:hover {
     color:#FEBE31;
	text-shadow: 1px 1px #FEBE31;
}

.content-item:hover{
     color:#FEBE31;
	text-shadow: 1px 1px #FEBE31;
}


.content-item:hover{
     color:#FEBE31;
	text-shadow: 1px 1px #FEBE31;
}
.productosDiv{
    margin-bottom: 5%;
}
.carousel-innerOveroles{
    margin-bottom: 5%;
}
.carouselItemOveroles{
    margin-right: 0%;
}
.carouselItemOverolesImg{
    position: relative;
    left: 30%;
}
.overolesDiv{
    margin-bottom: 5%;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    box-sizing: border-box;
}

#video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    background: #C1C1C1;
    border: 10px solid #C1C1C1;
    border-radius: 16px;
}
.titleCardProductos{
    font-size: 1.5rem;
}

#video iframe,
#video object,
#video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
article {
    box-sizing: border-box;
    padding: 50px 25px;
    width: 100%;
    max-width: 800px;
}

.zapatonIntem, .bataItem, .cubrezapatosItem, .desechablesItem{
    margin-bottom: 5%;
}
.logoPerfex, .logoVileda, .fontAwesomBerkshire, .logoContec{
    width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.fontAwesomBerkshire{
    font-size: 8rem !important;
}
.artDesechablesDiv{
    margin-bottom: 5%;
}
.rowLimpieza{
    margin-top: 5%;
}
.perfexDiv, .contecDiv, .viledaDiv, .tapetesAd {
    margin-bottom: 10%;
}
.btnCatalogo{
    margin-bottom: 5%;
}
.contactoDiv{
    margin-top: 5%;
    margin-bottom: 5%;
}

.itemContacto{
    margin-top: 10%;
}
@media(min-width:992px){
    .infoProductos{
        height: 20rem;
        background-image: url("/assets/images/bannerInicioEsensa.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* background-attachment: fixed;
        transition: 0s linear;
        background-position: 25% 85%; */
    }
}
@media(max-width:991px){
    .nosotrosHistoriaImg{
        margin-bottom: 10%;
    }
    .titleCardProductos{
        font-size: 1rem;
    }
    .infoProductos{
        height: 20rem;
        background-image: url("/assets/images/bannerInicioEsensa.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .footerEsensa{
        height: 38rem;
    }
    .imgLogoFooter{
        margin-left: 35%;
    }
    .footerfoot{
        height: 10rem;
        padding-left: 10%;
        padding-right: 10%;
    }
    .titleInfoProductosInicio{
        margin-top: 10%;
        font-size: 18px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .inicioNosotrosDiv{
        position: relative;
        left: -2%;
        margin-top: 0%;
    }
    .enEsensaTitle{
        font-size: 2.5rem;
    }
    .carousel-innerInicio{
        height: 21rem;
    }
    .bannerInicio{
        height: 25rem;
    }
    .fabricamosTitleInicio{
        font-size: 1.5rem;
    }
    .jumboInicioNosotrosDiv{
        margin-bottom:7%;
    }
    .divNosotrosValores{
        height: 77rem;
    }
    .text-nuestras{
        font-size: 12px !important;
    }
    .carouselItemOverolesImg{
        position: relative;
        left: 24%;
    }
    .zapatonIntem, .bataItem, .cubrezapatosItem, .desechablesItem{
        margin-bottom: 15%;
    }
    .logoPerfex, .logoVileda, .fontAwesomBerkshire, .logoContec{
        width: 50%;
    }
    .titleLimpieza{
        margin-top: 10%;
    }
    .artDesechablesDiv{
        margin-bottom: 10%;
    }
    .cardContec{
        position: relative;
        left: 7%;
    }
    .cardContec{
        margin-bottom: 10%;
    }
    .btnServicios{
        margin-bottom: 15%;
    }
    .titleServicios{
        margin-top: 10%;
        margin-bottom: 10%;
        font-size: 1.5rem !important;
    }
    .btnCatalogo{
        margin-bottom: 10%;
    }
    .contactoDiv{
        margin-top: 10%;
    }
    
    
}
@media(min-width:360px) and (max-width: 400px){
    .imgLogoFooter{
        margin-left: 25%;
        font-weight: bolder;
    }
    .nosotrosHistoriaImg{
        height: 19rem;
    }
    

}
@media (max-width:768px){
	
	.item-33-buscas {
		flex: 0 0 50%;
		max-width: 50%;
		height: 0%;
		margin: 0 auto;
	}
	
}
@media (max-width:320px){
	
	.divNosotrosValores {
		height: 82rem;
	}
	
}
