.navbar{
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 1%;
    background-color: #263b8b !important;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: #a4cd38 !important;
}
.bannerInicio{
    height: 30rem;
    background-image: url("/assets/images/bannerDegradado.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: 0s linear;
    background-position: 25% 85%;
}
.logoBannerInicio{
    width: 60%;
    margin-top: 20%;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.335);
}
.bannerTitleValueProp{
    color: #263b8b;
    margin-top: 3%;
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: #a3cd38;
    border-radius: 8pt;
}
.icon{
    color: #263b8b !important;
}
.titleInfoProductosInicio{
    margin-top: 12%
}
.titleListGroupInicioNosotros{
    background-color: #263b8b !important;
    color: white !important;
}
.fontEsensa{
    font-family: 'Montserrat Alternates', sans-serif;
}
.fontEsensa1{
    font-family: 'Enriqueta', serif;
}
.propuestValorDiv{
    font-size: bolder;
}
.jumboTronEsensaInicio{
    color: #263b8b;
    margin: 0%;
}
.titleInfoProductosInicioCol{
    color: wheat;
}
.footerEsensa{
    height: 25rem;
    background-image: url("/assets/images/footerEsensa.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
    color: #c9f55b;
}
.firstSlide{
    height: 25rem;
    background-image: url("/assets/images/45.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.secondSlide{
    height: 25rem;
    background-image: url("/assets/images/46.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nosotrosHistoriaImg{
    height: 25rem;
    background-image: url("/assets/images/47.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5%;
}
.carouselDiv{
}
.carousel-inner{
    border-radius: 8px;
    margin-bottom: 10%;
    margin-top: 10%;
}
.inicioNosotrosDiv{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    position: relative;
    left: 10%;
}
.listNosotrosContainer{
    margin-top: 5%;
}
.jumboInicioNosotrosDiv{
    height: 15rem;
    padding-top: 5%;
    border-radius: 8pt;
}
.siteMapItem{
    color: #c9f55b;
}
.siteMapItem:hover{
    color: white;
}
.footerfoot{
    background-color: #263b8b;
    color: white !important;
}
.imgLogoFooter{
    margin-left: 130%;
}
.nosotrosDiv{
    margin-top: 4%;
}
.divNosotrosValores{
    background-color: #263a8ba1;
    padding-top: 5%;
    color: white;
    height: 50rem;
}
.nuestrosProductosDivNosotros{
    margin-top: 5%;
    margin-bottom: 5%;
}
@media(min-width:992px){
    .infoProductos{
        height: 20rem;
        background-image: url("/assets/images/bannerInicioEsensa.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        transition: 0s linear;
        background-position: 25% 85%;
    }
}
@media(max-width:991px){
    .infoProductos{
        height: 20rem;
        background-image: url("/assets/images/bannerInicioEsensa.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .footerEsensa{
        height: 38rem;
    }
    .imgLogoFooter{
        margin-left: 35%;
    }
    .footerfoot{
        height: 10rem;
        padding-left: 10%;
        padding-right: 10%;
    }
    .titleInfoProductosInicio{
        margin-top: 10%;
        font-size: 18px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .inicioNosotrosDiv{
        position: relative;
        left: -2%;
        margin-top: 0%;
    }
    .enEsensaTitle{
        font-size: 2.5rem;
    }
    .carousel-inner{
        height: 21rem;
    }
    .bannerInicio{
        height: 25rem;
    }
    .fabricamosTitleInicio{
        font-size: 1.5rem;
    }
    .jumboInicioNosotrosDiv{
        margin-bottom:7%;
    }
    .divNosotrosValores{
        height: 61rem;
    }
    
}
@media(min-width:360px) and (max-width: 400px){
    .imgLogoFooter{
        margin-left: 25%;
        font-weight: bolder;
    }
    .nosotrosHistoriaImg{
        height: 19rem;
    }
    

}

